/* Training Dashboard Section */
.training-section .training-card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 20px;
  height: 350px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-size: cover;
  background-position: center;
}

.training-section .training-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 165, 0, 0.5);
  background-color: #333;
}

.training-section .training-card h4 {
  font-weight: bold;
  margin-bottom: 8px;
}

.training-section .row .col-md-6,
.training-section .row .col-lg-4 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .training-section .training-card {
    height: auto; 
  }
}

@media (max-width: 576px) {
  .training-section h2 {
    font-size: 1.5rem; 
  }
}

